.banner {
	background: #be0403;
	/*text-align: center;*/
	padding: 16px;
	/*margin: 20px;*/
	color: white;
	overflow: auto;
}

/* adjust banner for extra small screens so it doesn't waste as much space */
@media (max-width: 767px) {
	.banner {
		padding: 8px;
	}

	.banner a img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	h1 {
		font-size: 150%;
		text-align: center;
	}
}

/* adjust banner for small screens so it doesn't waste as much space */
@media (max-width: 991px) and (min-width: 768px) {
	h1 {
		font-size: 200%;
		text-align: center;
	}
}

body {
	background: white;
}

h1 a, h1 a:link {
	color: white;
}

h1 a:visited {
	color: white;
}

h1 a:hover, h1 a:active {
	color: white;
	text-decoration: none;
}

h2 a, h2 a:link {
	color: black;
}

h2 a:visited {
	color: black;
}

h2 a:hover, h2 a:active {
	color: grey;
}

div.committee-member {
	padding: 15px;
}

div.article {
	background: #fefefe;
	/*border-radius: 5px;*/
	/*border: 2px solid black;*/
	/*padding: 20px;*/
	padding-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
}

div.article-heading {
	background: #fefefe;
	/*margin: 20px;*/
	padding-left: 10px;
	/*margin-top: 0px;*/
}

h2.article-title {
	margin-top: 0px;
}

div.article-body {
	background: #fefefe;
	/*margin: 20px;*/
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
}

.img-box {
	/*padding-top: 5%;*/
	padding-right: 0px;
}

.img-thumbnail {
	min-width:90px;
	width: 90px;
	height: 90px;
/*	width: 100%;
	height: 100%;*/
}

.img-thumbnail-select {
	width: 90px;
	height: 90px;
	white-space: nowrap;
	border: 5px solid white;
}

.img-thumbnail-select.active {
	border: 5px solid black;
}

.img-thumbnail-select-box {
	overflow-x: auto;
	overflow-y: auto;
	height: 90px;
}

hr {
	background-color: #eeeeee;
	border-color: #eeeeee;
	color: #eeeeee;
	margin-top: 10px;
	margin-bottom: 0px;
}

#content {
	padding-top: 20px;
}

#menu {
	padding-top: 40px;
}

#menu > ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#menu ul li {
	background-color: #f2f2f2;
	margin: 1px;
}

#menu ul li:hover {
	/*background-color: #32373d;*/
	background-color: rgba(0, 0, 0, 0.12);
}

#menu ul li.active {
	background-color: #32373d;
	color: white;
	font-weight: bold;
	padding: 10px;
	padding-left: 20px;
}

#menu ul li a {
	text-decoration: none;
	display: block;
	color: black;
	padding: 10px;
	padding-left: 20px;
}

.sidebar-box {
	background-color: #eeeeee;
	margin-top: 10px;
	/*padding: 5px;*/
}

.sidebar-box:first-child {
	background-color: #eeeeee;
	margin-top: 40px;
	/*padding: 5px;*/
}

.sidebar-heading {
	margin: 1px;
	padding: 10px;
	font-weight: bold;
	text-align: center;
	background: #dddddd;
}

.sidebar-content {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.sponsor-logo {
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

.contact-logo {
	padding-left: 2px;
	padding-right: 2px;
}

div.sidebar-box a:hover {
	text-decoration: none;
}

div.navigation {
	padding-bottom: 10px;
}

div.navigation a {
	/*font-weight: bold;*/
	color: black;
}

/* any screen size that has the sponsors at the bottom needs a footer */
@media (max-width: 991px) {
	.sidebar-box:first-child {
		margin-top: 10px;
	}

	div.footer {
		margin-top: 10px;
		height: 10px;
		width: 100%;
		background: #be0403;
	}
}
