{% extends "templates/skeleton.html" %}
{% set active_page = "about" %}
{% block content %}

<div class="article">

    <h2>About Us</h2>

    <p>
    The Waikato University Hockey Club is an Incorporated Society and not
    for profit. The Club is run by an elected committee of club members
    whose responsibility it is to see that the club runs smoothly in
    accordance to the constitution. A copy of this lengthy and really
    interesting document is available upon request.
    </p>

    <p>
    You don't have to attend the University to play for the club, and while
    approximately half of our players are currently students, the other half
    cover a wide variety of ages and backgrounds.
    </p>


    <h3>Our Teams</h3>

    <p>
    We have 8 teams in the Waikato competition, men and women, across all
    grades (premier, premier reserve, reserve, third division). We cater
    to all levels of play, provide coaching and equipment to our teams,
    as well as many social events throughout the year.
    </p>


    <h3>Our History</h3>

    <p>
    The club was established in 1960, initially as the Waikato Teachers
    College, and a few years later expanded to include the Waikato University
    when the College
    moved onto the grounds of the fledgling University. It became an
    Incorporated Society in 2002, was a founding member of
    <a href="http://www.waikato.ac.nz/sport/university-of-waikato-sports-clubs">University of Waikato Sports Clubs</a>
    when it began in 2010, and was granted charitable status in 2012.
    </p>

</div>

{% endblock %}

<!-- vim: set ts=4 sw=4 hlsearch expandtab :-->
