{% extends "templates/skeleton.html" %}
{% set active_page = "about" %}
{% block content %}

<div class="article">

    <h2>About Us</h2>

    <p>
    The Waikato University Hockey Club is an Incorporated Society and not
    for profit. The Club is run by an elected committee of club members
    whose responsibility it is to see that the club runs smoothly in
    accordance to the constitution. A copy of this lengthy and really
    interesting document is available upon request.
    </p>

</div>

{% endblock %}

<!-- vim: set ts=4 sw=4 hlsearch expandtab :-->
