{% import "templates/people-macros.html" as people %}
{% extends "templates/skeleton.html" %}
{% set active_page = "committee" %}
{% block content %}

<div class="article">

    <h2>Club Committee</h2>

    <p>
    The committee is responsible for running the club, so that we can enjoy
    playing our hockey. They are all volunteers and put in a lot of work to
    keep things going smoothly. Please don't hesitate to get in touch with
    them if you have any questions, ideas, or if you would like to be involved!
    </p>

    {% for member in committee %}
        {{ people.display_contact(member, show_blurb=True) }}
    {% endfor %}

</div>

{% endblock %}

<!-- vim: set ts=4 sw=4 hlsearch expandtab :-->
