{% import "templates/people-macros.html" as people %}
{% extends "templates/skeleton.html" %}
{% set active_page = "contact" %}
{% block content %}

<div class="article">

    <h2>Contact Us</h2>

    <p>
        The most efficient means of contacting the University of Waikato Hockey
        Club is by email. If you're interested in playing for the club then
        contact:
    </p>

    {{ people.display_contact(mens, show_blurb=False) }}
    {{ people.display_contact(womens, show_blurb=False) }}

    <p>
        For all other enquiries please contact
        <a href="mailto:info@varsityhockey.co.nz">info@varsityhockey.co.nz</a>.
        Postal enquiries and correspondence can be directed to:
    </p>

    <pre>
University of Waikato Hockey Club
P.O. Box 24024
Abels
Hamilton 3253
New Zealand</pre>


</div>

{% endblock %}

<!-- vim: set ts=4 sw=4 hlsearch expandtab :-->
