{% import "templates/article-macros.html" as article_macros %}
{% extends "templates/skeleton.html" %}
{% set active_page = "home" %}
{% block content %}

<!-- http://getbootstrap.com/examples/blog/ -->

{% for article in articles %}
    {{ article_macros.display_article(article, show_full=False) }}
{% endfor %}

<div class="row navigation">
    <div class="col-md-2 col-xs-2">
        {% if newer %}
            {% if newer == 1 %}
                {% set newer = '' %}
            {% endif %}
        <a href="/{{ newer }}">
            <span class="glyphicon glyphicon-arrow-left"></span> Newer
        </a>
        {% endif %}
    </div>
    <div class="col-md-2 col-xs-2 col-md-offset-8 col-xs-offset-8 pull-right">
        {% if older %}
        <a href="/{{ older }}">
            Older <span class="glyphicon glyphicon-arrow-right"></span>
        </a>
        {% endif %}
    </div>
</div>

{% endblock %}

<!-- vim: set ts=4 sw=4 hlsearch expandtab :-->
